<div class="acchievement">
	<div class="a-left">
		<div class="rewards">
			<span><i class="fa-solid fa-award a-icon"></i>Rewards</span>
			<span>E-Certificate</span>
		</div>
		<div class="duration">
			<h5><i class="fa-regular fa-calendar a-icon"></i>Duration</h5>
			<span id="time_duration"></span>
		</div>
		<div class="rules">
			<h5><i class="fa-regular fa-clipboard a-icon"></i>Rules and Details</h5>
			<ul  id="rules_regulation">
			</ul>
		</div>
	</div>
	<div class="a-right">
		<div class="challenge-criteria">
			<h5><i class="fa-regular fa-circle a-icon"></i>Challenge Criteria</h5>
			<span id="challenge-criteria"></span>
		</div>
		<div class="current-stats">
			<h5><i class="fa-solid fa-square-poll-vertical a-icon"></i></i>Current Stats</h5>
			<ul id="current_stats">
			</ul>
		</div>
		<div class="notice">
			<p>We will record you data from your <span class="starva">STARVA</span> account.</p>
			<span>Tap here to change</span>
		</div>
	</div>
</div>
<div class="join-button">
	<button class="btn btn-primary">Join Chanllenge</button>
</div>
