<div class="leaderboard">
	<div class="heading">
		<h5>LeaderBoard</h5>
	</div>
	<div class="mb-images">
		Images
	</div>
	<div class="users-list">
		<ul id="user-list-leaderboard">
		</ul>
	</div>
</div>