<div class="wrapper">
	<div class="profile_head">
		<%= render 'profile_head' %>
	</div>

	<div class="acchievement-div">
		<%= render 'acchievement' %>
	</div>

	<div class="leaderboard-div">
		<%= render 'leaderboard' %>
	</div>
</div>
